/* Global Styles */
:root {
    --font-size: 16px;
    --font-family: 'Poppins';
}

body, p, span {
    font-family: var(--font-family);
    font-size: 16px;
    color: hsl(217, 6%, 50%);
}
  
body {
    background: hsl(180, 2%, 92%);
}

img {
    border-radius: 50px;
}

.app {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 10px auto;
    cursor: pointer;
}

p {
    background: hsl(211, 68%, 94%);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 30px;
}

.notifications-count p {
    background: none;
}

.notifications-count .count {
    background-color: hsl(219, 85%, 26%);
    color: #FFFFFF;
    padding: 2px 10px;
    border-radius: 5px;
}